a{
    color: #000;
    text-decoration: none;
}
a:hover{
    color: #4a5568;
}
.form-control:focus{
    box-shadow: none;

}
body{
    background-color:#fff;
}
.px-sm {
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
}
.register_form,.login_form input{
    font-size: 20px;

}
.login_form{
    margin-top: 20em;
}
.login_form .form_input{
    border: none;
    border-bottom: 2px solid #000;
}
.login_form input:hover,input:focus{

    outline: none;
}
